/*header*/
#Adver {
    width: 100%;
}

body {
    margin: 0;
    font-size: 13px;
    word-break: keep-all;
    overflow-x: hidden;
    overflow-y: auto;
}

#logo {
    display: inline-block;
    width: 15%;
    height: 80px;
    line-height: 80px;
    padding-left: 40px;
    float: left;
}

#top {
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    clear: both;
    overflow: hidden;
    padding: 20px 30px;
    height: 58px;
    position: relative;
}

#logo img {
    width: 80%;
    cursor: pointer;
}

#search {
    width: 57%;
    float: left;
    background-color: #eeee;
    margin-top: 12px;
    height: 44px;
    border-radius: 19px;
}

#input {
    width: 87%;
    margin-top: 9px;
    height: 47%;
    background-color: #eeee;
    border-style: none;

}

#btn {
    margin-top: 12px;
    margin-left: 17px;
    border: none;
}

#login {
    width: 21%;
    float: left;
    display: inline-block;
    margin-top: 26px;
    margin-left: 24px;
    cursor: pointer;
}

#login a {
    text-decoration: none;
    color: black;
}

hr {
    border: solid 0.1px #eeee;
}

#menu {
    width: 100%;
    height: 44px;
    z-index: 1;
}

#menu ul {
    margin-left: 109px;
    /* float: left; */
    list-style: none;
    height: 37px;
}

#menu li {
    font-weight: bolder;
    text-align: center;
    font-size: larger;
    /* margin: 0 67px; */
    width: 160px;
    height: 33px;
    float: left;
    padding-top: 12px;
    margin: 0px 8px;

}

#menu li:hover {
    color: tomato;
    border-bottom: solid 5px tomato;
    cursor: pointer;
}

/* 한개만 보여주고 싶을 경우 ul 넓이와 동일하게 100px로 주면 됩니다. */
#rolling {
    width: 1536px;
    height:490px;
    overflow: hidden;
}

#rolling ul li {
    float: left;
    position: relative;
    list-style-type: none;
    padding: 0;
    /* margin: 0 5px 0 0; */
    /* width: 30%; */
    height:490px;
}

#rolling ul li img {
    width: 510px;
    height:490px;
}

#rolling ul:after {
    display: block;
    content: "";
    clear: both;
}
#rolling ul{
    padding-left: 0;
    width: 1536px;
    height: 479px;
    overflow: hidden;
    margin-top: 0;
}


/* Pages */
.pages {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

.pages li {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 4px;
    text-indent: -999px;
    border-radius: 10px;
    background: #666;
    cursor: pointer;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.pages li:hover {
    background: tomato;
}

.pages li.active {
    background: tomato;
}

/*item*/
#content {
    width: 77%;
    height: 2000px;
    padding: 61px 202px 0 147px;
}

#title {
    font-size: 26px;
    font-weight: bold;
    color: black;
    letter-spacing: -2px;
}

#titleB {
    font-size: 21px;
    letter-spacing: -3px;
    padding-left: 10px;
    color: #3b3535ee;
}

#add {
    font-size: 17px;
    letter-spacing: -4px;
    padding-left: 990px;
    color: #7d7979ee;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

#add2 {
    font-size: 21px;
    color: #7d7979ee;
    margin-left: 8px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
/*height auto로 바꾸기*/
    #item {
        width: 100%;
        height: 353px;
    }

/*footer*/
footer {
    background-color: black;
    width: 79%;
    height: 332px;
    color: white;
    padding: 30px 174px 0 145px;
}

h2 {
    font-size: 34px;
    letter-spacing: -2px;
    margin-top: 11px;
    margin-bottom: 18px;
}


a {
    color: #858585ee;
}

#agree a {
    color: white;
    font-weight: bold;
}

#tel {
    margin-bottom: 34px;
}

#address {
    margin-top: 31px;
    margin-bottom: 18px;
}

footer hr {
    border: solid 1px #7d7d7dee
}




