<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.LikeItemMapper">
	<select id="getListPerMem" resultType="org.yuyu.domain.LikeItemVO">
		SELECT * FROM likeitem where mcode = #{mcode}
	</select>
	
	<insert id="insert">
		INSERT INTO likeitem(mcode,pcode) VALUES (#{mcode},#{pcode}})
	</insert>
	
	<select id="read" resultType="org.yuyu.domain.LikeItemVO">
		select * from likeitem where mcode = #{mcode} and pcode=#{pcode}
	</select>
	
	<delete id="delete">
	delete from likeitem where mcode = #{mcode} and pcode = #{pcode}
	</delete>
	
</mapper>