<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.OrderListMapper">
	<select id="getList" resultType="org.yuyu.domain.OrderListVO">
		SELECT * FROM orderlist
	</select>
	
	<insert id="insert">
		INSERT INTO orderlist(ocode,mcode,totalprice,state) 
		VALUES (#{ocode},#{mcode},#{totalprice},#{state}})
	</insert>
	
	<select id="read" resultType="org.yuyu.domain.OrderListVO">
		select * from orderlist where ocode = #{ocode}
	</select>
	
	<delete id="delete">
	delete from orderlist where ocode = #{ocode}
	</delete>
	
	<update id="update">
		update orderlist set totalprice =#{totalprice}, state=#{state}, updatedate = sysdate where ocode=#{ocode}
	</update>
	
</mapper>