<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.ProductDetailMapper">


	<insert id="insert">
		INSERT INTO product_detail(pcode,pcolor,psize,amount)
		VALUES (#{pcode},#{pcolor},#{psize},#{amount})
	</insert>



</mapper>