<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.MemMapper">
   <select id="getList" resultType="org.yuyu.domain.MemVO">
      SELECT * FROM mem
   </select>
   
   <insert id="insert">
      INSERT INTO mem(mcode,mname,mid,mpw,mphone,memail,maddress) 
      VALUES (#{mcode},#{mname},#{mid},#{mpw},#{mphone},#{memail},#{maddress})
   </insert>
   
   <insert id="insertSelectKey">
      <selectKey keyProperty="mcode" order="BEFORE" resultType="int">
         select seq_mem.nextval from dual
      </selectKey>
      INSERT INTO mem(mcode,mname,mid,mpw,mphone,memail,maddress1,maddress2,maddress3,maddress4,maddress5) 
      VALUES (#{mcode},#{mname},#{mid},#{mpw},#{mphone},#{memail},#{maddress1},#{maddress2},#{maddress3},#{maddress4},#{maddress5})
   </insert>
   
   <select id="read" resultType="org.yuyu.domain.MemVO">
      select * from mem where mcode = #{mcode}
   </select>
   
   <delete id="delete">
   delete from mem where mcode = #{mcode}
   </delete>
   
   <update id="update">
      update mem set mpw =#{mpw}, maddress1=#{maddress1}, maddress2=#{maddress2}, maddress3=#{maddress3}, maddress4=#{maddress4}, maddress5=#{maddress5}, mphone= #{mphone}, memail=#{memail}, 
      mname=#{mname} , updatedate = sysdate where mcode=#{mcode}
   </update>
   
   <select id="loginOk" resultType="org.yuyu.domain.MemVO">
		select * from mem where mid=#{mid} and mpw=#{mpw}
	</select>
</mapper>