<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.MemOrderListMapper">

	<select id="getList" resultType="org.yuyu.domain.MemOrderListVO">
			SELECT o.OCODE ,p.PCODE ,m.MCODE,sm.SNAME ,p.PNAME ,o.P_DETAIL ,o.AMOUNT ,o.TOTAL,o2.TOTALPRICE 
		FROM ORDER_DETAIL o,PRODUCT p,MEM m,STORE_MEM sm,ORDERLIST o2 
		WHERE 
		o.OCODE =o2.OCODE 
		AND m.MCODE = o2.MCODE 
		AND p.SCODE = sm.SCODE 
		AND o.PCODE = p.PCODE 
	AND o.OCODE = #{ocode}
			
	</select>
	<select id="read" resultType="org.yuyu.domain.MemOrderListVO">
		SELECT sm.SCODE ,o.OCODE ,p.PCODE ,m.MCODE ,sm.SNAME ,p.PNAME ,o.P_DETAIL 
		FROM STORE_MEM sm ,ORDER_DETAIL o,PRODUCT p ,MEM m 
		WHERE
		p.SCODE = sm.SCODE 
		AND o.PCODE = p.PCODE 
		AND o.OCODE = #{ocode} 		
		AND p.PCODE = #{pcode}
		AND m.MCODE = #{mcode}
	</select>
	
	
</mapper>