<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.MemReviewMapper">

	<select id="getList" resultType="org.yuyu.domain.MemReviewVO">
		SELECT r.RCODE,o2.OCODE ,sm.SNAME ,p.PNAME ,o.P_DETAIL ,r.REVIEW ,r.UPDATEDATE 
		FROM ORDER_DETAIL o,PRODUCT p,REVIEW r,MEM m,STORE_MEM sm,ORDERLIST o2 
		WHERE o.OCODE = r.ocode
		AND o.OCODE =o2.OCODE 
		AND p.PCODE = r.PCODE 
		AND SM .scode = r.SCODE 
		AND p.PCODE = o.PCODE 
		AND m.MCODE = #{mcode}
		ORDER BY r.RCODE ASC
	</select>
	
	
</mapper>