<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.OrderDetailMapper">
	<select id="getList" resultType="org.yuyu.domain.OrderDetailVO">
		SELECT * FROM orderdetail
	</select>
	
	<insert id="insert">
		INSERT INTO orderdetail(ocode,onum,pcode,p_detail,amount,totalprice) 
		VALUES (#{ocode},#{onum},#{pcode},#{p_detail},#{amount},#{totalprice})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="ocode" order="BEFORE" resultType="int">
			select seq_orderdetail.nextval from dual
		</selectKey>
		INSERT INTO orderdetail(ocode,onum,pcode,p_detail,amount,totalprice) 
		VALUES (#{ocode},1,#{pcode},#{p_detail},#{amount},#{totalprice})
	</insert>
	
	<insert id="insertSelectKeyForOnum">
		<selectKey keyProperty="onum" order="BEFORE" resultType="int">
			select seq_onum.nextval from dual
		</selectKey>
		INSERT INTO orderdetail(ocode,onum,pcode,p_detail,amount,totalprice) 
		VALUES (#{ocode},#{onum},#{pcode},#{p_detail},#{amount},#{totalprice})
	</insert>
	
	
	<select id="read" resultType="org.yuyu.domain.OrderDetailVO">
		select * from orderdetail where ocode = #{ocode}
	</select>
	
	<delete id="delete">
	delete from orderdetail where ocode = #{ocode} and onum= #{onum}
	</delete>
	
	<update id="update">
		update orderdetail set amount =#{amount}, totalprice=#{totalprice},updatedate = sysdate where ocode=#{ocode} and onum=#{onum}
	</update>
	
</mapper>