<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.OrderDetailMapper">
	<select id="getList" resultType="org.yuyu.domain.OrderDetailVO">
		SELECT * FROM orderdetail
	</select>

	<select id="getListbyOcode" resultType="org.yuyu.domain.OrderDetailVO">
		SELECT * FROM ORDER_DETAIL where ocode = #{ocode}
	</select>
	
	<insert id="insert">
		INSERT INTO orderdetail(ocode,onum,pcode,p_detail,amount,totalprice) 
		VALUES (#{ocode},#{onum},#{pcode},#{p_detail},#{amount},#{totalprice})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="onum" order="BEFORE" resultType="int">
			select seq_order_detail.nextval from dual
		</selectKey>
		INSERT INTO order_detail(ocode,onum,pcode,p_detail,amount,total) 
		VALUES (#{ocode},#{onum},#{pcode},#{p_detail},#{amount},#{total})
	</insert>
<!-- orderlist 의 마지막 ocode 를 select 해서 insert -->
	<insert id="insertfrombasket">
		<selectKey keyProperty="onum" order="BEFORE" resultType="int">
			select seq_order_detail.nextval from dual
		</selectKey>
		INSERT INTO order_detail(ocode,onum,pcode,p_detail,amount,total) 
		VALUES ((SELECT MAX(ocode) FROM ORDERLIST),#{onum},#{pcode},#{p_detail},#{amount},#{total})
	</insert>
	
	<insert id="insertSelectKeyForOnum">
		<selectKey keyProperty="onum" order="BEFORE" resultType="int">
			select seq_onum.nextval from dual
		</selectKey>
		INSERT INTO order_detail(ocode,onum,pcode,p_detail,amount,totalprice) 
		VALUES (#{ocode},#{onum},#{pcode},#{p_detail},#{amount},#{totalprice})
	</insert>
	
	
	<select id="read" resultType="org.yuyu.domain.OrderDetailVO">
		select * from order_detail where ocode = #{ocode}
	</select>
	
		<select id="readByPcode" resultType="org.yuyu.domain.OrderDetailVO">
		select * from order_detail where ocode = #{ocode} and pcode = #{pcode}
	</select>
	
	
	
	<delete id="delete">
	delete from order_detail where ocode = #{ocode} and onum= #{onum}
	</delete>
	
	<update id="update">
		update order_detail set amount =#{amount}, totalprice=#{totalprice},updatedate = sysdate where ocode=#{ocode} and onum=#{onum}
	</update>
	
	<select id="readPerStore" resultType="org.yuyu.domain.StoreOrderDetailVO">
		SELECT order_detail.*, orderlist.mcode,mem.mname, mem.mid,product.pname FROM order_detail, orderlist,product,mem WHERE orderlist.ocode = order_detail.ocode AND product.pcode = order_detail.pcode and mem.mcode = orderlist.mcode and product.scode=#{scode} order by orderlist.regdate desc
	</select>
	
	<update id="modifyOfState">
		update order_detail set state=#{state},updatedate= sysdate where ocode =#{ocode} and onum =#{onum}
	</update>
	
	<select id="selectState" resultType="org.yuyu.domain.StateVO">
		select state, count(*) as count FROM order_detail,product WHERE order_detail.pcode = product.pcode AND product.scode = #{scode} GROUP BY state
	</select>
</mapper>