<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.P_basketMapper">
	<select id="getList" resultType="org.yuyu.domain.P_basketVO">
		
	</select>

	<insert id="insert">
		INSERT INTO p_basket(mcode,pcode,bamount,bsize,bcolor) 
		VALUES (#{mcode},#{pcode},#{bamount},#{bsize},#{bcolor})
	</insert>

	<insert id="insertSelectKey">
		INSERT INTO p_basket(mcode,pcode,bamount,bsize,bcolor,btotal) 
		VALUES (#{mcode},#{pcode},#{bamount},#{bsize},#{bcolor},#{btotal})
	</insert>

	<select id="read" resultType="org.yuyu.domain.P_basketVO">
		
	</select>

	<delete id="delete">
	delete from p_basket where pcode = #{pcode}
	</delete>
	<delete id="alldelete">
	delete from p_basket where mcode = #{mcode}
	</delete>

	<update id="update">
	update p_basket set BAMOUNT =#{bamount} ,updateupdate = sysdate where mcode=#{mcode}
	</update>

</mapper>