<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.ProductQnAMapper">
	<select id="getList" resultType="org.yuyu.domain.ProductQnAVO">
		SELECT * FROM product_qna where scode = #{scode}
	</select>
	
	<insert id="insert">
		INSERT INTO product_qna(qnacode,scode,mcode,pcode,question,answer) 
		VALUES (#{qnacode},#{scode},#{mcode},#{pcode},#{question},#{answer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="qnacode" order="BEFORE" resultType="int">
			select seq_productqna.nextval from dual
		</selectKey>
		INSERT INTO product_qna(qnacode,scode,mcode,pcode,question) 
		VALUES (#{qnacode},#{scode},#{mcode},#{pcode},#{question})
	</insert>
	
	<select id="read" resultType="org.yuyu.domain.ProductQnAVO">
		select * from product_qna where qnacode = #{qnacode}
	</select>
	
	<delete id="delete">
	delete from product_qna where qnacode = #{qnacode}
	</delete>
	
	<update id="update">
		update product_qna set question =#{question}, answer = #{answer}, 
		 updatedate = sysdate where qnacode=#{qnacode}
	</update>
	
</mapper>