<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.ProductDetailMapper">


	<insert id="insert">
		INSERT INTO product_detail(pcode,pcolor,psize,amount)
		VALUES (#{pcode},#{pcolor},#{psize},#{amount})
	</insert>
	
	<select id="readWithPcode" resultType="org.yuyu.domain.ProductDetailVO">
		select * from product_detail where pcode= #{pcode}
	</select>

	<select id="getProductColor" resultType="String">	
		SELECT DISTINCT pcolor FROM product_detail WHERE pcode = #{pcode}
	</select>
	
	
	<select id="getProductSize" resultType="String">	
		SELECT DISTINCT psize FROM product_detail WHERE pcode = #{pcode}
	</select>
	
	<delete id="deleteProductDetail">
		delete from product_detail where pcode = #{pcode}
	</delete>

</mapper>
