<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyu.mapper.StoreMemMapper">
	<select id="getList" resultType="org.yuyu.domain.StoreMemVO">
		SELECT * FROM store_mem
	</select>
	
	<insert id="insert">
		INSERT INTO store_mem(scode,sname,sid,spw,sphone,semail,sowner) 
		VALUES (#{scode},#{sname},#{sid},#{spw},#{sphone},#{semail},#{sowner})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="mcode" order="BEFORE" resultType="int">
			select seq_store_mem.nextval from dual
		</selectKey>
		INSERT INTO store_mem(scode,sname,sid,spw,sphone,semail,sowner) 
		VALUES (#{scode},#{sname},#{sid},#{spw},#{sphone},#{semail},#{sowner})
	</insert>
	
	<select id="read" resultType="org.yuyu.domain.StoreMemVO">
		select * from store_mem where scode = #{scode}
	</select>
	
	<delete id="delete">
	delete from store_mem where scode = #{scode}
	</delete>
	
	<update id="update">
		update store_mem set spw =#{spw}, sphone= #{sphone}, semail=#{semail}, 
		sname=#{sname} , updatedate = sysdate where scode=#{scode}
	</update>
	
</mapper>