
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/resources/user/CSS/login.css" />
</head>

<body>
    
    <hr>
    <nav id="menu">
        <ul>
       <li onclick="location.href='/user/index'">HOME</li>
            <li onclick="location.href='/user/best'">BEST</li>
            <li onclick="location.href='/user/today'">하루배송</li>
            <li onclick="location.href='/user/market'">쇼핑몰·마켓</li>
            <li onclick="location.href='/user/brand'">브랜드</li>
            <li onclick="location.href='/user/beauty'">뷰티</li>
            <li onclick="location.href='/user/event'">EVENT</li>
        </ul>
    </nav>
    <hr>

    <div id="loginf">
        <form action="/user/loginOk" method="post" id="loginform">
            <h1>오늘 사면 내일 도착!
                <br><span>무료배송으로 내일 받는 브랜디 LOGIN</span></h1>
            <input type="text" placeholder="아이디 입력" id="id" name="mid" />
            <input type="password" placeholder="비밀번호 입력" id="password" name="mpw" />
            <button id="btn1">로그인</button>
            <button id="btn2">회원가입</button>
            <a id="find">아이디 찾기</a>ㅣ<a id="findp">비밀번호 찾기</a>
        </form>
        <hr>
        <div id="SNS">
            <h3>간편로그인 / 가입</h3>
            <a id="btn3"><img id="facebook"
                    src="https://www.brandi.co.kr/static/3.47.2/images/facebook-logo.png">Facebook으로 계속하기</a>
            <a id="btn4"><img id="google" src="https://www.brandi.co.kr/static/3.47.2/images/google-logo.png">Google
                계정으로 계속하기</a>
            <a id="btn5"><img id="apple" src="https://www.brandi.co.kr/static/3.47.2/images/appleLogo@3x.png">Apple로
                계속하기</a>
        </div>
    </div>

    <footer>
        <div id="tel">
            <h2>고객센터 1234-1234</h2>
            <a>영업시간 : AM 10:00 ~ PM 17:00 (주말 및 공유일 휴무)
                <br>점심시간 : PM 12:30 ~ PM 13:30</a>
        </div>
        <hr>
        <div id="address">
            <a>
                회사명 : ㈜브랜디 | 대표이사 : 서정민 | 사업자등록번호 : 220-88-93187 | 통신판매업신고 : 2016-서울강남-00359 | 호스팅사업자 : (주)브랜디
                <br>주소 : (06223) 서울특별시 강남구 테헤란로 32길 26 청송빌딩
                <br>개인정보관리책임자 : 윤석호(privacy@brandi.co.kr)
                <br>브랜디는 통신판매중개자로서 통신판매 당사자가 아니며, 판매자가 등록한 상품정보 및 거래에 브랜디는 책임을 지지 않습니다.
            </a>
        </div>
        <div id="agree">
            <a>이용약관</a>ㅣ<a>개인정보처리방침</a>ㅣ<a>사업자정보확인</a>
        </div>
    </footer>
</body>

</html>